<%= form_with(model: prato, local: true) do |form| %>
<% if prato.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(prato.errors.count, "error") %> prohibited this prato from being saved:</h2>

  <ul>
    <% prato.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="container">
    <div class="col-xs-6">   

      <div class="field">
        <%= form.label :descricao %>
        <%= form.text_area :descricao, :class => "form-control" %>
      </div>

      <div class="field">
        <%= form.label :preco %>
        <%= form.text_field :preco, :class => "form-control" %>
      </div>

      <div class="field">
        <%= form.label :tempo_Preparo %>
        <%= form.text_field :tempoPreparo, :class => "form-control" %>
      </div>

      <div class="field">
        <%= form.label :ingrediente %>
        <%= form.select :ingrediente, Ingrediente.all.collect {|ingrediente| [ingrediente.descricao, ingrediente.id]} %>
      </div>

      <div class="field">
        <%= form.label :cozinha %>
        <%= form.select :cozinha, Cozinha.all.collect {|cozinha| [cozinha.nome, cozinha.id]} %>
      </div>
      
      <div class="actions">
        <%= form.submit :class => "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
<% end %>
