<div class="">
  <div class="container">

    <p id="notice"><%= notice %></p>
    <div class="page-header">
      <h1 class="title">Pratos</h1>
    </div>

    <div class="col-xs-12">
      <% @pratos.each do |prato| %>
      <div class="container-prato col-xs-4">
        <div class="texto-exibir texto-exibir-pratos col-xs-12">
          <p>
            <strong>Descricao:</strong>
            <%= prato.descricao %>
          </p>
          <p>
            <strong>Preco:</strong>
            <%= prato.preco %>
          </p>
          <p>
            <strong>Tempopreparo:</strong>
            <%= prato.tempoPreparo %>
          </p>
          <p>
            <strong>Restaurante:</strong>
            <%= prato.cozinha.nome %>
          </p>
          <p>
            <strong>Ingredientes:</strong>
            <%= prato.ingredientes.map(&:descricao).join(', ') %> 
          </p>

          <div class="row container-bnt-crud">
            <%= link_to 'Visualizar', prato, :class => "btn btn-success col-xs-4" %>
            <%= link_to 'Editar', edit_prato_path(prato), :class => "btn btn-primary col-xs-4" %>
            <%= link_to 'Deletar', prato, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger col-xs-4" %>
          </div>
        </div>
      </div>
      <% end %>
      <br>
      <div class="btn-container col-xs-12">
        <%= link_to 'Novo Prato', new_prato_path, :class => "btn btn-success" %>
      </div>
    </div>
  </div>
</div>