<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @prato.descricao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @prato.preco %>
</p>

<p>
  <strong>Tempopreparo:</strong>
  <%= @prato.tempoPreparo %>
</p>

<%= link_to 'Edit', edit_prato_path(@prato) %> |
<%= link_to 'Back', pratos_path %>
