<div class="">
	<div class="container">
		<p id="notice"><%= notice %></p>
		
		<div class="page-header">
			<h1 class="title">Prato</h1>
		</div>
		<div class="texto-exibir">
			<p>
				<strong>Descricao:</strong>
				<%= @prato.descricao %>
			</p>
			<br>
			<p>
				<strong>Preco:</strong>
				<%= @prato.preco %>
			</p>
			<br>
			<p>
				<strong>Tempopreparo:</strong>
				<%= @prato.tempoPreparo %>
			</p>
			<br>
			<p>
				<strong>Cozinha:</strong>
				<%= @prato.cozinha.nome %>
			</p>
			<br>
			<p>
				<strong>Ingredientes:</strong>
				<%= @prato.ingredientes.map(&:descricao).join(', ') %>
			</p>

		</div>
		<div class="btn-container">
			<%= link_to 'Editar', edit_prato_path(@prato), :class => "btn btn-primary" %>
			<%= link_to 'Voltar', pratos_path, :class => "btn btn-default" %>
		</div>
	</div>
</div>